#main-header {
	background-color: #004400;
}

#main-header a:hover {
	background-color: #008800;
	color: #ffffff;
}

#main-content a {
	color: #008800;
	border-bottom-width: 0.1em;
	border-bottom-style: dashed;
}

#main-content a:hover {
	text-decoration: none;
}

.homepage-logo {
	width: 20em;
	max-width: 75%;
	margin: 0em auto;
}

.homepage-logo img {
	width: 100%;
}

.homepage-title {
	text-align: center;
}

.license-logo {
	width: 15em;
	max-width: 50%;
}

.license-logo img {
	width: 100%;
}

.notice {
	border-top: 0.25em solid #cccccc;
	border-bottom: 0.25em solid #cccccc;
	padding: 0.5em;
	margin: 0.5em 0em;
}

.notice h2 {
	font-size: 150%;
	margin-bottom: 0.5em;
}

.notice p {
	margin-bottom: 0em;
}

.hidden {
	position: absolute;
	left: -1000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}